# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
.cache

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
server.log

# Documentation
*.md
README.md

# Test files
**/*.spec.js
**/*.test.js
